{% extends 'base.html' %}
{% load static %}
{% block title %}
MUSICA
{% endblock %}

{% block content %}
<div class="py-4">
    <div>
        {% include 'message.html' %}
    </div>
    <div>
        <p class="m-0">Hey {{request.user}} 👋 Welcome!</p>
    </div>


    <div class="my-4">
        <h5>Popular Artists</h5>
    </div>
    <div class="d-flex flex-wrap gap-4">
        {% for r in artists %}
        <a href="/artist-songs/{{r.id}}">
            <div class="rounded shadow-sm" style="height: 20ch; width: 20ch; overflow: hidden;">
                <img src="{{r.image}}" style="height: 100%; width: 100%; object-fit: cover;" alt="">
            </div>
            <div class="my-2">
                <h6 class="text-s text-dark">{{r.first_name}} {{r.last_name}}</h6>
                <p class="text-s text-secondary"><i class="fa-solid fa-compact-disc me-1"></i>{{r.songs}} Songs</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}