{% extends 'base.html' %}
{% load static %}
{% block title %}
MUSICA
{% endblock %}

{% block content %}
<div class="py-0">
    <div>
        {% include 'message.html' %}
    </div>
    <div>
        <p class="m-0">Hey {{request.user}} 👋 Welcome!</p>
    </div>


    <div class="my-4">
        <h5>Recently Played</h5>
    </div>
    <div class="row">
        {% for r in recents %}
        <div onclick="playMusic('songs', '{{r.music.id}}')" class="col-md-3 mb-3">
            <div class="border rounded" style="overflow:hidden;">
                <img src="/{{r.music.cover}}" style="height: 18ch; width:100%; object-fit: cover;" alt="">
                <a href="/music/{{r.music.id}}" class="d-flex align-items-center my-2 px-2">
                    <div class="no-img-avatar-sm badge-primary"><i class="fa-solid fa-play text-primary"></i></div>
                    <div class="mx-2">
                        <p class="m-0 text-s title">{{r.music.title}}</p>
                        <p class="m-0 text-sm title">{{r.music.singer}}</p>
                    </div>
                    <div class="ms-auto">
                        <p class="m-0 text-xs">3:45</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="my-4">
        <h5>Latest Songs</h5>
    </div>
    <div class="row">
        {% for m in musics %}
        <div onclick="playMusic('songs', '{{m.id}}')" class="col-md-3 mb-3">
            <div class="border rounded" style="overflow:hidden;">
                <img src="/{{m.cover}}" style="height: 18ch; width:100%; object-fit: cover;" alt="">
                <div class="d-flex align-items-center my-2 px-2">
                    <div class="no-img-avatar-sm badge-primary"><i class="fa-solid fa-play text-primary"></i></div>
                    <div class="mx-2">
                        <p class="m-0 text-s title">{{m.title}}</p>
                        <p class="m-0 text-sm title">{{m.singer}}</p>
                    </div>
                    <div class="ms-auto">
                        <p class="m-0 text-xs">3:45</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="my-4">
        <h5>Recommended For You</h5>
    </div>
    <div class="row">
        {% for r in recommendations %}
        <div onclick="playMusic('{{r.id}}')" class="col-md-3 mb-3">
            <div class="border rounded" style="overflow:hidden;">
                <img src="/{{r.cover}}" style="height: 18ch; width:100%; object-fit: cover;" alt="">
                <div class="d-flex align-items-center my-2 px-2">
                    <div class="no-img-avatar-sm badge-primary"><i class="fa-solid fa-play text-primary"></i></div>
                    <div class="mx-2">
                        <p class="m-0 text-s title">{{r.title}}</p>
                        <p class="m-0 text-sm title">{{r.singer}}</p>
                    </div>
                    <div class="ms-auto">
                        <p class="m-0 text-xs">3:45</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}