<div class='py-5 text-light bg-dark'>
    <div class='container mx-auto col-md-9'>
        <div class='logo mb-5'>
            <div class='d-flex align-items-center'>
                <p class='m-0'><i class='fa-solid fa-music text-primary logo-text fs-3 mt-1'></i></p>
                <div class='ms-2'>
                    <p class="text-light m-0" style="font-size: 2rem;"><span class="text-info">M</span>USICA</p>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <h6 class='fw-bold text-light'>Website</h6>
                <div class='mt-4'>
                    <p class='text-sm text-light'>About</p>
                    <p class='text-sm text-light'>Developers</p>
                    <p class='text-sm text-light'>Contact Us</p>
                    <p class='text-sm text-light'>Terms</p>
                    <p class='text-sm text-light'>Conditions</p>
                </div>
            </div>
            <div class='col-md-3'>
                <h6 class='fw-bold text-light'>Music</h6>
                <div class='mt-4'>
                    <a href="/browse" class='nav-link px-0 text-sm text-light'>Browse</a>
                    <a href="/" class='nav-link px-0 text-sm text-light'>Listen</a>
                    <a href="/admins/my-uploads" class='nav-link px-0 text-sm text-light'>Upload</a>
                </div>
            </div>
            <div class='col-md-3'>
                <h6 class='fw-bold text-light'>Admin</h6>
                <div class='mt-4'>
                    <a href="/admins/users/" class='nav-link px-0 text-sm text-light'>User management</a>
                    <a href="/admins/" class='nav-link px-0 text-sm text-light'>Site management</a>
                    <a href="#" class='nav-link px-0 text-sm text-light'>Gamify</a>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='d-flex'>
                    <p class='fs-1 mx-2'><i class='text-light fa-brands fa-facebook-square'></i></p>
                    <p class='fs-1 mx-2'><i class='text-light fa-brands fa-instagram'></i></p>
                    <p class='fs-1 mx-2'><i class='text-light fa-brands fa-twitter'></i></p>
                </div>
            </div>

            <div class='col-md-12 mt-4'>
                <div class='d-flex'>
                    <p class='text-xs text-light'>Terms & Conditions</p>
                    <p class='text-xs ms-4 text-light'>Privacy</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>