{% extends 'base.html' %}

{% block title %}
Musica | Admin
{% endblock %}

{% block content %}
<div class="px-3">
    {% include 'message.html' %}
    <div class="py-2">
        <p class="fw-bold">Upload Song</p>
        <div class="col-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group my-3">
                    <label for="">Title:</label>
                    <div>
                        <input class="form-control text-secondary text-s rounded" type="text" placeholder="Music Title" name="title" required>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="">Singer:</label>
                    <div>
                        <select class="form-control form-select text-secondary text-s rounded" name="singer" id="" required>
                            <option value="" disabled selected>Select Artist</option>
                            {% for a in artists %}
                            <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label class="text-sm" for="">Genre:</label>
                    <select class="form-select text-secondary text-s rounded" name="genre" id="" required>
                        <option class="text-secondary" disabled>--select--</option>
                        <option class="text-secondary" value="Pop">Pop</option>
                        <option class="text-secondary" value="Jazz">Jazz</option>
                        <option class="text-secondary" value="Rock">Rock</option>
                    </select>
                </div>

                <div class="form-group my-3">
                    <label for="">File:</label>
                    <div>
                        <input type="file" name="file" accept="audio/*" required>
                    </div>
                </div>

                <div class="form-group my-3">
                    <label for="">Cover Image:</label>
                    <div>
                        <input type="file" name="cover" required>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="">Poster Image:</label>
                    <div>
                        <input type="file" name="poster" required>
                    </div>
                </div>

                <div class="form-group my-3">
                    <label for="">Description:</label>
                    <div>
                        <textarea class="form-control text-secondary rounded text-s" name="description" rows="10" placeholder="Song description..." required></textarea>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary btn-sm px-3 rounded d-block ms-auto rounded" type="submit">Upload</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}