{% extends 'base.html' %}
{% block content %}
<div class="px-3">
    {% include 'message.html' %}
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
          min-vh-75">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="border rounded">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div>
                                <h6>Reset Password</h6>
                                <div>
                                    <div class="form-group my-3" style="position: relative;">
                                        {{ form.password1 }}
                                        <button id="p1" class="" onclick="showPassword('p1', 'password1')" type="button" style="position: absolute; bottom: 0.5ch; right: 1ch; background: none; border: none; outline: none;"><i class="fa-solid fa-eye"></i></button>
                                        {% for error in form.password1.errors %}
                                        <div class="text-danger error-message text-sm">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group my-3" style="position: relative;">
                                        {{ form.password2 }}
                                        <button id="p2" class="" onclick="showPassword('p2', 'password2')" type="button" style="position: absolute; bottom: 0.5ch; right: 1ch; background: none; border: none; outline: none;"><i class="fa-solid fa-eye"></i></button>
                                        {% for error in form.password2.errors %}
                                        <div class="text-danger error-message text-sm">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div>
                                    <button class='btn btn-primary btn-sm rounded px-3 btn-block w-100 py-2' type="submit"
                                        name="passwords">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}